.slide {
  min-height: 100vh;
  max-height: 100vh;
  max-width: 100vw;
  background-image: url("../../assets/images/Slide_bg.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (max-width: 1200px) {
  }
}

.swiper-container {
  max-width: 100vw;
  margin: 0 auto;
  position: relative;
}

.swiper-button-next {
  display: block;
  height: 128px;
  width: 128px;
  margin-top: -64px;
  background-image: url("../../assets/images/angle-right@2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  @media (max-width: 700px) {
    margin-right: -20px;
  }
}
.swiper-button-prev {
  display: block;
  margin-top: -64px;
  height: 128px;
  width: 128px;
  background-image: url("../../assets/images/angle-left@2x.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  outline: none;
  @media (max-width: 700px) {
    margin-left: -20px;
  }
}
.swiper-button-next,
.swiper-button-prev {
  @media (max-width: 1200px) {
    margin-top: -50px;
    height: 100px;
    width: 100px;
  }
  @media (max-width: 700px) {
    margin-top: -30px;
    height: 60px;
    width: 60px;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after {
  display: none;
}

.slide__text-container {
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  @media (max-width: 1700px) {
    width: 900px;
  }
  @media (max-width: 1500px) {
    width: 700px;
  }
  @media (max-width: 1200px) {
    width: 500px;
  }
  @media (max-width: 700px) {
    width: 250px;
  }
}

.slide__job {
  max-width: 1000px;
  font-family: "open_sanslight";
  font-size: 72px;
  text-align: center;
  letter-spacing: 0px;
  color: hsla(0, 0%, 100%, 1);
  text-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.55);
  @media (max-width: 1850px) {
    font-size: 60px;
  }
  @media (max-width: 1500px) {
    font-size: 48px;
  }
  @media (max-width: 1200px) {
    font-size: 36px;
  }
  @media (max-width: 700px) {
    font-size: 24px;
  }
}

.slide__name {
  font-family: "open_sanssemibold";
  font-size: 120px;
  text-align: center;
  margin-top: 10px;
  color: hsla(0, 0%, 100%, 1);
  text-shadow: 0px 2px 4px hsla(0, 0%, 0%, 0.55);
  opacity: 1;
  @media (max-width: 1850px) {
    font-size: 100px;
  }
  @media (max-width: 1500px) {
    font-size: 80px;
  }
  @media (max-width: 1200px) {
    font-size: 60px;
  }

  @media (max-width: 700px) {
    font-size: 40px;
  }
}

.close-btn {
  width: 90px;
  height: 90px;
  position: absolute;
  right: 30px;
  top: 30px;
  background-image: url("../../assets/images/close.png");
  background-position: center;
  background-size: contain;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;

  @media (max-width: 1500px) {
    height: 75px;
    width: 75px;
  }
  @media (max-width: 700px) {
    right: 20px;
    top: 40px;
    height: 35px;
    width: 35px;
  }
}
